
.page {
    color: rgb(254, 253, 253);
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }


  * {
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
    
  }
  #count{
    border: #182a9d dotted 1px;
    border-radius: 7px;
    padding:15px 0px 0px 0px;
  }
  h1 {
    font-size: 32px;
    color: black;
  }
  #input{
    color: #02070b;
  }
  input {
    border: 0;
    margin-right: 5px;
    background: transparent;
    border-bottom: 1px solid black;
    width: 80px;
    padding: 8px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  input:focus, input:active {
    outline: 0;
    width: 200px;
    border-bottom-color: #F97D75;
  }
  
  button {
    background-color: #F97D75;
    border: 0;
    padding: 8px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
  }
  button:focus, button:active {
    outline: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
  }
  
  li {
    border: 1px solid black;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
    border-radius: 3px;
  }
  
  .fa-close {
    cursor: pointer;
  }
  
  [contenteditable]:focus, [contenteditable]:active {
    outline: 0;
  }