<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>dashboard</mat-icon> Project Management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Resource Management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/skills">
    <mat-icon>dashboard</mat-icon> Skill Management
  </a>
</mat-nav-list>
